.start-button button{
    margin-left: 20px;
    border-radius: 4vw;
    padding: 3vw;
    font-family: 'Bangers';
    color: white;
    border: double 1.5px deepskyblue;
    background-color: deepskyblue;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 3vw;
}

.start-button{
    position: relative;
}

.start-button img{
    opacity: 0;
    position: absolute;
    pointer-events: none;
    width: 2vw;
    top: -2vw;
    right: -2vw;
    transform: rotate(15deg)
}

.start-button:hover img{
    opacity: 1;
}

.start-button:hover button{
    filter: brightness(120%);
}

.start-button:active button{
    filter: brightness(140%);
    border-style: inset;
}