body {
    background: url("../images/spacewallpaper.png") no-repeat center center fixed;
    background-size:cover;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px;
}